/* =========================== Header ========================== */

.logo-react {
    width: 80px;
    height: 80px;
}

.nav {
    display: flex;
    justify-content: space-between;
}


.nav-items {
    list-style: none;
    display: flex;
}

.nav-items>li {
    padding: 20px;
    font-size: 1.3rem;
}



/* =========================== Main-Content ========================== */

.main-content {
    font-size: 1.2rem;
}



/* ============================== Footer ============================= */


.footer-container {
    background-color: #73dcfc;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 345px;
    width: auto;
}