* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

/* =========================================== Nav ========================================= */

nav {
    display: flex;
    height: 80px;
    padding: 0px 20px;
    box-shadow: 4px 4px 8px #adadad;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
}

/* =========================================== Hero ========================================= */

section {
    padding: 100px;
}

.project-image {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Responsive Design for Hero Section */
@media screen and (max-width: 768px) {
    section {
        padding: 50px;
    }

    .project-image img {
        max-width: 80%;
    }
}

/* Responsive Design for Smaller Screens */
@media screen and (max-width: 480px) {
    section {
        padding: 30px;
    }

    .hero-header {
        font-size: 24px;
    }

    .hero-text {
        max-width: 100%;
    }
}